@import '../../../../node_modules/normalize.css/normalize';
@import '../../../../node_modules/github-markdown-css/github-markdown';
@import '../../../../node_modules/highlight.js/styles/vs';
@import '_variables';
@import '_font-awesome';
@import '_partial/common';
@import '_partial/header';
@import '_partial/jumbotron';
@import '_partial/cards';
@import '_partial/words';
@import '_partial/article';
@import '_partial/archive';
@import '_partial/footer';
@import '_partial/mobile';

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
	background: #eee;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #ccc !important;
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track-piece {
	border-radius: 0;
}