{
	"presets": [
		"stage-0",
  		["latest", {
    		"es2015": {
      			"modules": false
    		}
  		}],
	],
 	"plugins": [
 		"external-helpers", "transform-decorators-legacy"
  	],
	"ignore": [
		"dist/*.js",
    "node_modules/**"
	]
}
