<div>
<textarea id="src-code" class="source">
</textarea>
<div class="opbtn">
	<button id="convert">GO</button> 
	<button id="clean">Clean</button> 
	<button id="copy">Copy</button> 
</div>

<textarea id="target-code"  class="target">
</textarea>
</div>

<style>
textarea.source,textarea.target  {
	min-height: 500px;
	min-width: 400px;
	float: left;
}
div.opbtn {
	float: left;
	max-width: 80px;
	margin:100px 30px;
}
div > button {
	width: 60px;
	margin: 10px auto;
}
</style>

<script>
	var $source = document.getElementById('src-code');
	var $target = document.getElementById('target-code');
	var $convert = document.getElementById('convert');
	var $clean = document.getElementById('clean');
	var $copy = document.getElementById('copy');
	$clean.addEventListener('click', function(){
		$source.value = '';
	});
	$copy.addEventListener('click', function(){
		$target.select();
		document.execCommand("copy");
	});
	$convert.addEventListener('click', function(){
		var srctext = $source.value;
		$target.value = convert(srctext);
	});

	function convert(srctxt) {
		if (!srctxt) {
			return '';
		}
		var _src = srctxt;
		return '---\ntitle: \nexcerpt: \ncategories: \n- FE\n---\n\n' + 
		_src.replace(/^(\*+)\s*(.+?)\s*\n/mg, '$1 $2\n')
			.replace(/^(#+)\s*(.+?)\s*\n/mg, function(m, p1, p2) {
				return (p1.replace(/#/g, '-')+ ' ' + p2 +'\n');
			})
			.replace(/\n*<\/?pre>\n*/g, '\n```\n')
			.replace(/\n*\s*(=+)\s*(.+?)(\s*=+\s*)\n+/mg, function(m, p1, p2, p3) {
				return ('\n\n' + p1.replace(/=/g, '#') + ' ' + p2 +'\n');
			});
	}
	
</script>